
  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
  <html>

 <head>
<script>
var l=[];
</script>
 </head>

      <body>
          <div>
              <h2> Pending student info </h2>
          </div>
          {% for student in pending %}

          <div id="studentinfo" phonenumber="{{student.phonenumber}}">
                  {% for k, v in student.items() %}
                      <label>{{k}}</label>&nbsp; <em>{{v}}</em>
                  {% endfor %}
                  <button>Approve</button>

                 <button onclick = "ok.innerHTML=('{{student.name}}{{student.phonenumber}}{{student.location}}')" >decline </button>
                 <button onclick = "alert('{{student.location}}')" >pp </button>
                 <script>
                 l.push("'{{student.location}}'");
                 localStorage.setItem("vv",JSON.stringify(l));

                </script>

                 <br>
              </div>
          {% endfor %}

          <a href ="map.html">Visualize on map</a>

             <h2> Approved student info </h2>

              <h2> Declined student info </h2>
             <!--
                -todo
                -->
             <div id= "ok"></div>
      </body>
  </html>
